.ContactsList {
    width: 500px;
}

.ContactsList__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
background-color: rgb(31, 185, 185);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.15);
}

.ContactsList__item+.ContactsList__item {
    margin-top: 12px;
}

.ContactsList__text {
    flex: 0 0 65%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    border-radius: 3px;
}

.ContactsList__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #204060;
    border: 0;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);

}

.ContactsList__button:hover {
    box-shadow: 0px 2px 1px 1px rgba(48, 17, 99, 0.15);
    background-color: #60600b;
}